In [60]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
import pandas as pd 
from sqlalchemy import create_engine

In [61]:
spark = SparkSession.builder.appName('NugaBankETL').getOrCreate()

In [62]:
spark

In [63]:
nuga_bank_df = spark.read.csv('./data/raw/nuga_bank_transactions.csv',header=True, inferSchema=True)

In [64]:
nuga_bank_df.show(5)

+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|  3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|              NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|      675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|     4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|              NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 5 rows

In [65]:
nuga_bank_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

## DATA TRANSFORMATIOIN

In [66]:
nuga_bank_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [67]:
rows = nuga_bank_df.count()

rows

1000000

In [68]:
cols = len(nuga_bank_df.columns)
cols

23

In [69]:
# checking for null values 
for column in nuga_bank_df.columns:
    print(column, 'Nulls', nuga_bank_df.filter(nuga_bank_df[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 100425
Customer_Address Nulls 100087
Customer_City Nulls 100034
Customer_State Nulls 100009
Customer_Country Nulls 100672
Company Nulls 100295
Job_Title Nulls 99924
Email Nulls 100043
Phone_Number Nulls 100524
Credit_Card_Number Nulls 100085
IBAN Nulls 100300
Currency_Code Nulls 99342
Random_Number Nulls 99913
Category Nulls 100332
Group Nulls 100209
Is_Active Nulls 100259

Last_Updated Nulls 100321
Description Nulls 100403
Gender Nulls 99767
Marital_Status Nulls 99904

In [70]:
# how to fill up missing values
nuga_bank_df_clean = nuga_bank_df.fillna(
    {'Customer_Name': 'Unkown',
    'Customer_Address': 'Unkownn',
    'Customer_City':'Unknown',
    'Customer_State': 'Unknown',
    "Customer_Country": 'Unknown',
    'Company':'Unknown',
    'Job_Title': 'Unknown',
    'Email':'Unknown',
    'Phone_Number': 'Unknown',
    'Credit_Card_Number':0,
    'IBAN':'Unknown',
    'Currency_Code': 'Unknown',
    'Random_Number': 0.0,
    'Category': 'Unknown',
    'Group':'Unknown',
    'Is_Active':'Unknown',
    'Description':'Unkown',
    'Gender': 'Unknown',
    'Marital_Status': 'Unknown',
   
    }
)

In [71]:
# Drop rows where last_updated is null
nuga_bank_df_clean = nuga_bank_df_clean.na.drop(subset=['Last_Updated'])

In [72]:
# checking for null values 
for column in nuga_bank_df.columns:
    print(column, 'Nulls', nuga_bank_df_clean.filter(nuga_bank_df_clean[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 0
Customer_Address Nulls 0
Customer_City Nulls 0
Customer_State Nulls 0
Customer_Country Nulls 0
Company Nulls 0
Job_Title Nulls 0
Email Nulls 0
Phone_Number Nulls 0
Credit_Card_Number Nulls 0
IBAN Nulls 0
Currency_Code Nulls 0
Random_Number Nulls 0
Category Nulls 0
Group Nulls 0
Is_Active Nulls 0

Last_Updated Nulls 0
Description Nulls 0
Gender Nulls 0
Marital_Status Nulls 0

In [73]:
nuga_bank_df_clean.count()

899679

In [74]:
# view the summary statistics of the data

nuga_bank_df_clean.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|      Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|    Random_Number|Category|  Group|Is_Active|         Description| Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|  count|            899679|          899679|       899679|              899679|       899679|        899679|          899679|       899679|            899679|             899679|              899679|              899679|              899679|       899679|           899679|  899679| 899679|   899679|              899679| 899679|        899679|
|   mean| 505.1036770892746|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL| 6.002851385999521E9|3.409662226750517...|                NULL|         NULL|4952.920380491264|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
| stddev|285.79453433004676|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL|2.3068371038619413E9|1.189655005733002...|                NULL|         NULL|2966.543401151605|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan| Abbott Group|Academic librarian|            Unknown|       (200)201-4254|                   0|GB02AAAU191993009...|          AED|              0.0|       A|Unknown|       No|A American and to...| Female|      Divorced|
|    max|            1000.0|      Withdrawal|    Zoe Young|             Unkownn|  Zunigaville|       Wyoming|        Zimbabwe|Zuniga-Wilson|      Youth worker|zzuniga@example.org|             Unknown| 4999984361512569455|             Unknown|          ZWD|           9999.0| Unknown|      Z|      Yes|Yourself young ev...|Unknown|       Unknown|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+

In [75]:
nuga_bank_df_clean.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [76]:
transaction = nuga_bank_df_clean.select('Transaction_Date','Amount','Transaction_Type').distinct()

In [77]:
# Adding the transaciton_id colujmn 
transaction = transaction.withColumn('transaction_id', monotonically_increasing_id())

In [78]:
# reirderubg tge columns 
transaction = transaction.select('transaction_id','Transaction_Date','Amount','Transaction_Type')

In [79]:
transaction.show()

+--------------+--------------------+------+----------------+
|transaction_id|    Transaction_Date|Amount|Transaction_Type|
+--------------+--------------------+------+----------------+
|             0|2024-01-10 22:13:...|169.64|         Deposit|
|             1|2024-01-06 12:05:...|444.53|         Deposit|
|             2|2024-01-09 02:32:...|976.36|        Transfer|
|             3|2024-02-18 21:04:...|521.62|         Deposit|
|             4|2024-04-11 13:35:...|416.11|         Deposit|
|             5|2024-03-20 11:34:...|438.03|         Deposit|
|             6|2024-04-29 10:42:...| 28.27|        Transfer|
|             7|2024-02-12 15:48:...|657.39|         Deposit|
|             8|2024-01-16 03:08:...|489.04|      Withdrawal|
|             9|2024-04-27 01:11:...| 32.36|      Withdrawal|
|            10|2024-04-13 04:39:...| 152.8|         Deposit|
|            11|2024-02-07 20:31:...|736.03|      Withdrawal|
|            12|2024-03-09 11:50:...|516.88|        Transfer|
|            13|2024-01-22 16:12:...|615.23|         Deposit|
|            14|2024-02-18 19:51:...|119.83|        Transfer|
|            15|2024-04-15 10:58:...|630.29|         Deposit|
|            16|2024-02-22 06:42:...|923.79|         Deposit|
|            17|2024-04-22 06:27:...|832.71|      Withdrawal|
|            18|2024-02-14 10:28:...| 73.65|        Transfer|
|            19|2024-01-20 09:52:...| 850.8|      Withdrawal|
+--------------+--------------------+------+----------------+
only showing top 20 rows

In [80]:
customer = nuga_bank_df_clean.select('Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country','Email','Phone_Number').distinct()

# add id column 
customer = customer.withColumn('Customer_id',monotonically_increasing_id())

customer = customer.select('Customer_id','Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country','Email','Phone_Number')

customer.show()

+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|Customer_id|     Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|               Email|        Phone_Number|
+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|          0|    Miguel Leonard|262 Beck Expressw...|             Unknown| West Virginia|             Eritrea| zweaver@example.net|             Unknown|
|          1|    Michael Murphy|894 Williams Ridg...|       Dominguezview|      New York|              Sweden|kristinstanley@ex...|+1-693-739-2204x8851|
|          2|      James Miller|             Unkownn|         South Tracy|       Arizona|           Nicaragua|alexanderbailey@e...|        971-987-0958|
|          3|    Tina Gutierrez|    415 Taylor Knoll|           Donnastad|South Carolina|             Unknown|sarabrooks@exampl...|  623-933-0431x87174|
|          4|      Kylie Adkins|    435 Nicole Curve|             Unknown|     Louisiana|             Unknown|davisronald@examp...|  (404)814-4457x1451|
|          5|       Brian Glenn|505 Mcdowell Gard...|South Christinech...|  South Dakota|             Lesotho|bcabrera@example.net|001-962-928-1897x...|
|          6|       Gary Archer| 0930 Michael Stream|            Boydport|North Carolina|Palestinian Terri...|kennethscott@exam...|       (713)965-2955|
|          7|       Chase Smith|   156 Jeffrey Union|   Lake Nataliemouth|       Arizona|     North Macedonia|davidreeves@examp...|             Unknown|
|          8|Mr. Gary Brooks II|   786 Mccarthy Fall|         Traceymouth|         Idaho|            Kiribati|ellislouis@exampl...|          8963308214|
|          9|        Zoe Wilson|4575 Michael Harb...|        Alexanderton|        Alaska|           Venezuela|             Unknown|             Unknown|
|         10|            Unkown|   894 Gomez Village|          Benderside|       Alabama|       New Caledonia|  xclark@example.net|+1-541-544-0215x7...|
|         11|    Zachary Grimes|42686 Jessica Loc...|           Johnshire|      Virginia|             Tunisia|vanessa93@example...|       (464)800-5827|
|         12| Jessica Zimmerman|    15565 Reed Wells|       East Johnland|       Florida|                Chad|awilliams@example...|  664.840.4619x25293|
|         13|            Unkown|679 Jordan Field ...|           Kaylaland|       Florida|               Chile|martinezdavid@exa...|+1-344-891-7996x5196|
|         14|     Tammy Simmons|997 Flores Locks ...|            Woodston|      Nebraska|                Oman| udecker@example.com|+1-853-249-6586x8571|
|         15| Virginia Galloway|236 Harris Trail ...|       Lake Benjamin|      Michigan|United States of ...|   mross@example.com|   987.344.8192x3020|
|         16|   Elizabeth Kline|  8389 Nicholson Run|           Jeffmouth|    Washington|             Liberia|matthewtaylor@exa...|    794-659-1946x128|
|         17|            Unkown|  21795 Kelly Shoals|     New Rachaelfurt|   Connecticut|               Korea|  lfoley@example.org|          2098997863|
|         18|     Matthew Costa|100 Crystal Gatew...|     Lake Leslieland|     Louisiana|         Timor-Leste|             Unknown|       (898)827-1111|
|         19|      Lucas Farmer|41050 Tonya Prair...|  Lake Samanthamouth|         Texas|               Korea|tammymiles@exampl...|+1-807-815-2593x8534|
+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [81]:
employees = nuga_bank_df_clean.select('Company','Job_Title','Gender','Marital_Status').distinct()

employees = employees.withColumn('employee_id', monotonically_increasing_id())

employees = employees.select('employee_id','Company','Job_Title','Gender','Marital_Status')

employees.show()

+-----------+--------------------+--------------------+-------+--------------+
|employee_id|             Company|           Job_Title| Gender|Marital_Status|
+-----------+--------------------+--------------------+-------+--------------+
|          0|         Price Group|             Unknown|   Male|        Single|
|          1|Rhodes, King and ...| Trade mark attorney|   Male|       Unknown|
|          2|Schmidt, Morgan a...|     Engineer, water| Female|        Single|
|          3|       Johnson Group|  Forensic scientist|   Male|       Unknown|
|          4|     Phillips-Prince|Production assist...|Unknown|        Single|
|          5|      Henry and Sons|Engineer, civil (...| Female|       Married|
|          6|Thompson, Johnson...|Exercise physiolo...|  Other|       Unknown|
|          7|Hernandez, Johnso...|Forensic psycholo...|Unknown|      Divorced|
|          8|Carrillo, Schwart...| Solicitor, Scotland| Female|        Single|
|          9|         Olson-Lucas| Magazine journalist|   Male|      Divorced|
|         10|        Baxter-Knapp|Designer, televis...| Female|       Unknown|
|         11|             Unknown|Programme researc...| Female|      Divorced|
|         12|    Newton-Schneider|             Unknown|  Other|      Divorced|
|         13|      Suarez-Terrell|            Best boy| Female|      Divorced|
|         14|         Stewart LLC|       Archaeologist|   Male|        Single|
|         15|Bernard, Sutton a...|Museum/gallery co...|  Other|       Unknown|
|         16|Summers, Thornton...|Volunteer coordin...|Unknown|        Single|
|         17|     Mcneil-Guerrero|     Ophthalmologist|Unknown|      Divorced|
|         18|       Collins-Clark|Producer, televis...| Female|      Divorced|
|         19|Lewis, Navarro an...|             Unknown|   Male|        Single|
+-----------+--------------------+--------------------+-------+--------------+
only showing top 20 rows

In [93]:
# fact-table 


fact_table = nuga_bank_df_clean.join(customer,['Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country','Email','Phone_Number'], 'left') \
            .join(transaction,['Transaction_Date','Amount','Transaction_Type'],'left') \
            .join(employees,['Company','Job_Title','Gender','Marital_Status'], 'left') \

In [94]:
# fact_table = fact_table.select('transaction_id','Customer_id','employee_id', 'Credit_Card_Number','IBAN','Currency_Code','Random_Number','Category','Group','Is_Active','Last_Updated','Description')

fact_table = fact_table.select('transaction_id','employee_id','Customer_id','Credit_Card_Number','IBAN','Currency_Code','Random_Number','Category','Group','Is_Active','Last_Updated','Description')

fact_table.show()

+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|transaction_id|employee_id|Customer_id| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|   17179881322|       8447|       7735|4622935083555889735|GB38NHWI142007006...|          EUR|       2210.0|       D|    Z|      Yes|2021-10-22 07:48:...|White might elect...|
|   77309420823|       7297|77309423858|   6580934179272674|GB56IWIH341432913...|          TMT|       6120.0|       C|    X|       No|2023-03-18 15:44:...|World little ment...|
|   85899417722|      54358|77309472004|    374741864551707|GB15NKUF545398325...|          MRO|       3522.0|       D|    Z|       No|2020-06-25 13:32:...|Us site road care...|
|    8589982726|      44014|85899394062|     38526303203913|GB82WTYM803522789...|          CDF|       9647.0|       B|    X|       No|2021-09-23 20:52:...|Mind check concer...|
|   77309461335|      43645|60129587126|4211098943832016441|GB72XSXE041758685...|          MDL|       8335.0|       D|    Z|      Yes|2023-10-21 17:38:...|              Unkown|
|   77309471677|      56518|77309472396|   4905811524319082|GB03EEKE685121511...|          KRW|       8728.0|       C|    Y|      Yes|2020-08-23 01:19:...|Theory Mrs stand ...|
|   77309423330|      11047|17179881487|   3507268046256074|GB75HNEK021615050...|          KPW|       1814.0|       D|    Y|      Yes|2021-01-05 03:56:...|Last subject foll...|
|   25769808422|        401|       1258|    213186454811670|GB77SPMZ984195063...|          SOS|       7610.0|       C|    X|       No|2021-04-15 13:30:...|Concern remember ...|
|   85899373101|      21468|34359767258|    379977471795734|GB72BNPK823099700...|          KWD|       4168.0|       D|    X|      Yes|2022-04-02 01:37:...|Those American sp...|
|   25769850611|      44758|17179917037|   4351427249234586|GB02ZQLR180842867...|          PGK|       8177.0|       C|    X|       No|2021-01-03 15:14:...|Perform little an...|
|   77309485062|      65382|42949743347|     30160491362204|GB98PAHS403370824...|          FKP|       5427.0|       D|    Z|       No|2023-01-22 21:01:...|Family religious ...|
|   34359786519|      44013|17179915416|4424954860777736175|GB78XEEN874984971...|          TOP|       6468.0|       C|    Z|      Yes|2024-04-12 09:16:...|Sell out attentio...|
|   25769838748|      30025|77309442675|   4895182692007111|GB96XYSV241174210...|          AFN|       3217.0|       A|    Y|      Yes|2020-07-08 12:24:...|Plan news importa...|
|   51539617489|      11046|42949681517|      4868963548975|             Unknown|          GIP|       5047.0|       C|    X|       No|2023-10-30 23:10:...|Item reality mayb...|
|         41971|      37448|60129582153|      4783860499273|GB67PEKN742055118...|          ERN|       9011.0|       D|    X|       No|2021-10-08 13:13:...|Other product cer...|
|   60129612976|      61664|60129614849|       502018732722|GB62TPSB923228182...|          WST|       8729.0|       B|    Y|      Yes|2023-07-03 16:48:...|Sign long media w...|
|   34359781459|      32051|85899383324|    180013965661163|GB03QHIK293878662...|          BMD|       6925.0|       D|    X|      Yes|2022-10-18 05:24:...|Page enjoy baby t...|
|   85899383331|      28229|60129576325|                  0|GB62IOGH251160669...|          AUD|       4416.0|       B|    Z|      Yes|2024-04-20 02:17:...|Including traditi...|
|   25769815519|       7296|42949683579|   6528005668821944|GB60MYCD219512370...|          SHP|       3471.0|       C|    Z|      Yes|2022-01-05 04:25:...|Question still tr...|
|   42949689721|       3656| 8589948931|                  0|GB56AEYN564926526...|          TVD|       8324.0| Unknown|    Z|  Unknown|2024-02-26 04:04:...|While successful ...|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
# output the cleaned data to parquet
# uses columnar package whcih is smaller and easier.
import os 



# transaction.write.mode('overwrite').parquet(os.path.join('./data/processed','transaction'))
# customer.write.mode('overwrite').parquet(os.path.join('./data/processed','customer'))
# employees.write.mode('overwrite').parquet(os.path.join('./data/processed','employee'))
# fact_table.write.mode('overwrite').parquet(os.path.join('./data/processed','fact_table'))

25/07/03 10:22:07 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers
25/07/03 10:22:07 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:07 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:07 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 66.83% for 11 writers
25/07/03 10:22:07 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:07 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:07 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers
25/07/03 10:22:11 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers
25/07/03 10:22:11 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:11 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:11 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 66.83% for 11 writers
25/07/03 10:22:11 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:11 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:11 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers
25/07/03 10:22:16 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers
25/07/03 10:22:16 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:16 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:16 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 66.83% for 11 writers
25/07/03 10:22:16 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:16 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:16 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:39 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:22:40 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers
25/07/03 10:22:40 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:40 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:40 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 66.83% for 11 writers
25/07/03 10:22:41 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:41 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:41 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 73.51% for 10 writers
25/07/03 10:22:41 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 81.68% for 9 writers
25/07/03 10:22:41 WARN MemoryManager: Total allocation exceeds 95.00% (986,683,789 bytes) of heap memory
Scaling row group sizes to 91.89% for 8 writers

In [97]:
# to csv

transaction.repartition(3).write.mode('overwrite').option('header','True').csv(os.path.join('./data/csv','transaction'))
customer.repartition(3).write.mode('overwrite').option('header','True').csv(os.path.join('./data/csv','customer'))
employees.repartition(3).write.mode('overwrite').option('header','True').csv(os.path.join('./data/csv','employee'))
fact_table.repartition(3).write.mode('overwrite').option('header','True').csv(os.path.join('./data/csv','fact_table'))

25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/07/03 10:28:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.